{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "parser": "babel",
  "semi": true,
  "requirePragma": false,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "consistent",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "editorconfig": true,
  "singleAttributePerLine": false
}
