@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class^=_icon-]:before, [class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

._icon-clock:before {
  content: "\e900";
}

._icon-geo:before {
  content: "\e901";
}

._icon-play:before {
  content: "\e902";
}

._icon-quotes:before {
  content: "\e903";
}

._icon-s-inst:before {
  content: "\e904";
}

._icon-slider-arrow:before {
  content: "\e905";
}

._icon-s-medium:before {
  content: "\e906";
}

._icon-s-tiktok:before {
  content: "\e907";
}

._icon-s-tw:before {
  content: "\e908";
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?93555135#icons') format('svg');
  }
}
*/
.header__container {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr auto 1fr;
  min-height: 9.5rem;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.header__logo {
  width: 4.4247269891rem "+" 9.1263650546vw;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.9375rem;
  row-gap: 0.1875rem;
  align-items: center;
}
.menu__link {
  display: inline-block;
  color: #C1AB81;
  font-weight: 300;
  line-height: 152%;
}

.action-header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 2.9375rem;
  row-gap: 0.1875rem;
  align-items: center;
}
.action-header__link {
  display: inline-block;
  color: #C1AB81;
  font-weight: 300;
  line-height: 152%;
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
}
@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    top: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

/*стилі будуть застосовуватися до всіх класів,
що містить *__container
Наприклад header__container, main__container і тп*/
[class*=__container] {
  max-width: 100.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.block-header {
  display: grid;
  gap: 1.25rem;
  justify-items: start;
}
.block-header__label {
  line-height: 156.25%;
  text-transform: capitalize;
}
.block-header__title {
  color: #9D875C;
  text-transform: capitalize;
  font-family: Italiana;
  font-size: 3rem;
}
.block-header__text {
  line-height: 156.25%;
  display: grid;
  gap: 1.25rem;
}
.block-header__text blockquote {
  font-style: italic;
}
.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  border-radius: 3.125rem;
  font-weight: 300;
  line-height: 156.25%;
  padding: 0.625rem 2.5rem;
  background-color: white;
  cursor: pointer;
}
.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.3s;
  background: url("../img/bg-button.png") center no-repeat;
  background-size: cover;
}
.button--fw {
  width: 100%;
}
.button--border {
  transition: all 0.3s;
  background: transparent;
  border: 0.0625rem solid #C1AB81;
  color: #C1AB81;
}
.button--border::before {
  opacity: 0;
}
.button span {
  position: relative;
}
@media (any-hover: hover) {
  .button:hover {
    color: #222220;
    border: 0.0625rem solid transparent;
  }
  .button:hover::before {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

body {
  background: #EFE9DD;
  font-family: "Montserrat";
  font-size: 16px;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background: #ffffff;
  margin: 45px auto;
  border-radius: 10px;
  max-width: 1400px;
}