._icon-clock:before {
   content: "\e900";
 }
 ._icon-geo:before {
   content: "\e901";
 }
 ._icon-play:before {
   content: "\e902";
 }
 ._icon-quotes:before {
   content: "\e903";
 }
 ._icon-s-inst:before {
   content: "\e904";
 }
 ._icon-slider-arrow:before {
   content: "\e905";
 }
 ._icon-s-medium:before {
   content: "\e906";
 }
 ._icon-s-tiktok:before {
   content: "\e907";
 }
 ._icon-s-tw:before {
   content: "\e908";
 }
 