//titles, common BEM blocks, components

//header block

.block-header {
&__label {
   line-height: 156.25%;//25/16
   text-transform: capitalize;
}
&__title {
   color:$goldColor;
   text-transform: capitalize;
   font-family: Italiana;
   font-size: toRem(48);
}
&__text {
}
.text {
}
&__button {
}
.button {
}
}
