.footer {
   position: relative;
   padding: toRem(0) toRem(0) toRem(0) toRem(0);
   background-color: $bgDark;
   color: $bgGold;
   // .footer__container
   &::before,&::after{
      content: '';
      position: absolute;
      height: 50%;
      width: toRem(174);
   }
   &::before{
      content: '';
      left: 0;
      bottom: 0;
      background: url('../img/footer-decor.svg') left bottom / 85% no-repeat;
   }
   &::after{
      content: '';
      right: 0;
      top: 0;
      transform: rotate(-180deg);
      background: url('../img/footer-decor.svg') left bottom / 85% no-repeat;
   }

   &__container {
   }

   // .footer__body

   &__body {
      @include adaptiveValue("padding-top", 92, 40);
      @include adaptiveValue("padding-buttom", 45, 30);
      display: grid;
      grid-template-columns: repeat(3,1fr);
   }

   // .footer__content

   &__content {
      border-right: toRem(1) solid $bgGold;
      @include adaptiveValue("margin-right", 40, 15);
   }

   // .footer__menu

   &__menu {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 20);
      }
   }

   // .footer__social

   &__social {
   }

   // .footer__logo

   &__logo {
      justify-self: center;
      @include adaptiveValue("width",284,80);
   }

   // .footer__subscribe

   &__subscribe {
   
      
   }

   // .footer__copy

   &__copy {
      @include adaptiveValue("padding-top", 42, 15);
      @include adaptiveValue("padding-buttom", 42, 15);
      text-align: center;
   }
}
.menu-footer {

   // .menu-footer__title

   &__title {
      font-family: "Italiana";
      font-size: toRem(20);
      text-transform: capitalize;
      &::marker,
      &::-webkit-details-marker{
         display: none;
      }
      &:not(:last-child) {
         margin-bottom: toRem(15);
      }
   }

   // .menu-footer__list

   &__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: toRem(3);
      @include adaptiveValue("column-gap",42, 15);
   }

   // .menu-footer__item

   &__item  a{
      color: $bgGold;
   }

   // .menu-footer__link

   &__link {
      font-weight: 300;
      line-height: 156%;
      display: inline-block;
      transition: color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color:$goldColorHover
         }
      }
   }
}
.social {
   display: flex;
   flex-wrap: wrap;
   row-gap: toRem(3);
   @include adaptiveValue("column-gap",41, 15);
   // .social__item

   &__item {
      color: $bgGold;
      font-size: toRem(24);
      transition: color 0.3s;
      cursor: pointer;
      @media (any-hover: hover) {
         &:hover {
            color:$goldColorHover
         }
      }
   }
}

.subscribe {
   border-left: toRem(1) solid $bgGold;
   @include adaptiveValue("padding-left", 40, 15);
   padding-left: toRem(40);
   display: grid;
   justify-content: end;
   color: $bgGold;
   // .subscribe__title
   &__body {
      max-width: toRem(350);
   }
   &__title {
      font-family: "Italiana";
      font-weight: normal;
      font-size: toRem(32);
      color: $bgGold;
      line-height: 120%;
      &:not(:last-child) {
         margin-bottom: toRem(25);
      }
   }

   // .subscribe__form

   &__form {
      display: flex;
      height: toRem(40);
      border-bottom: toRem(1) solid rgb(193, 171, 129, 0.2);
   }

   // .subscribe__input

   &__input {
      flex: 1 1 auto;
   }

   // .subscribe__button

   &__button {
      background: transparent;
      border: none;
   }
}

// [data-spollers] {
//    cursor: pointer;
//  }

//  [data-spollers] summary {
//    outline: none;
//    list-style: revert;
//  }

