.hero {
   position: relative;
   min-height: 100vh;
   display: flex;
   align-items: center;
   // .hero__container

   &__container {
      display: grid;
      grid-template-columns: 1fr 44% 1fr;
      align-items: center;
      padding-top: toRem(150);
      padding-bottom: toRem(50);
      position: relative;
      z-index: 2;
      flex-grow: 1;
   }
   &__body{
   }
   // .hero__content

   &__content {
      margin-right: -48%;
      position: relative;
      z-index: 2;
   }

   // .hero__title

   &__title {
      @include adaptiveValue("font-size", 90, 42);
      font-family: "Italiana";
      font-weight: 400;
      color: $bgGold;
      text-transform: capitalize;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 35, 15);
      }
   }

   // .hero__button

   &__button {
   }

   // .hero__slider

   &__slider.swiper{
      margin: 0;
      padding-top: toRem(50);
      padding-bottom: toRem(50);
   }

   // .hero__wrapper

   &__wrapper {
   }

   // .hero__slide

   &__slide {
   }

   // .hero__controls

   &__controls {
      margin-left: 20px;
   }

   // .hero__arrow

   &__arrow {
      background: transparent;
      border: none;
      cursor: pointer;
   }

   // .hero__arrow--left

   &__arrow--left {
      transform: rotate(180deg);
   }

   // .hero__arrow--right

   &__arrow--right {
   }

   // .hero__mini-slider

   &__mini-slider {
   }
   // .hero__bg

   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: top;
   }
}

.slide-hero {
   aspect-ratio: 1 / 1;
   border: toRem(1) solid $bgGold;
   @include adaptiveValue("padding", 24, 10);
   border-radius: 50%;
   flex: 1 1 auto;
   &--mini {
      flex: 0 0 auto;
      padding: toRem(3);
   }
   // .slide-hero__body

   &__body {
      background: linear-gradient(135deg, rgba(20, 17, 10, 1) 0%, rgba(33, 28, 22, 1) 100%);
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      width: 100%;
      overflow: hidden;
   }

   // .slide-hero__image

   &__image {
      width: 100%;
      margin-top: -10%;
   }
   &__top-image{
      width: 100%;
      height: 50%;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      margin-top: -110%;
      img {
         max-width: 100%;
      }
   }
}

.mini-slider {
   padding-top: toRem(30);
   padding-bottom: toRem(30);
   padding-left: toRem(40);
   transform: translate(0,-30%);
   // .mini-slider__wrapper

   &__wrapper {
   }

   // .mini-slider__slide

   &__slide {
   }
}


