$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;
$fontFamily: 'Montserrat';
$fontSize: 16px;
$mainColor:#222220;
$goldColor: #9D875C;